name: "tests"
on:
  workflow_dispatch:
  push:
    paths-ignore:
      - "docs/**"
      - ".run/**"
      - "templates/**"
      - "scripts/**"
      - "*.md"
      - ".github/**"
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  KUBECONFIG: ${{ github.workspace }}/.kube/config

jobs:
  get_version_matrix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - id: get_version_matrix
        shell: bash
        run: scripts/get-version-matrix.sh
    outputs:
      terraform_versions: ${{ steps.get_version_matrix.outputs.terraform_versions }}
      k8s_versions: ${{ steps.get_version_matrix.outputs.k8s_versions }}
  unit_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Unit tests
        env:
          GOPATH: /home/runner/go
        run: |
          make test
          make vet
  acc_test:
    needs: get_version_matrix
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        terraform_version:  ${{ fromJson(needs.get_version_matrix.outputs.terraform_versions) }}
        k8s_version:  ${{ fromJson(needs.get_version_matrix.outputs.k8s_versions) }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - uses: helm/kind-action@v1.9.0
        id: kind
        with:
          wait: 2m
          node_image: kindest/node:v${{ matrix.k8s_version }}
      - name: Acceptance Tests
        env:
          KUBE_CONFIG_PATH: ${{ env.KUBECONFIG }}
          TF_ACC_TERRAFORM_VERSION: ${{ matrix.terraform_version }}
          TESTARGS: "-parallel 1"
        run: |
          make testacc
